/Character.class
/Inventory.class
/Item$ItemType.class
/Item.class
/Inventory$coin.class
/Inventory$Coin.class
/PlayerRace.class
/PlayerRace$1.class
/PlayerRace$2.class
/PlayerRace$3.class
/PlayerRace$4.class
/PlayerRace$5.class
/PlayerRace$6.class
/PlayerRace$7.class
/PlayerClass.class
/PlayerClass$1.class
/PlayerClass$10.class
/PlayerClass$2.class
/PlayerClass$3.class
/PlayerClass$4.class
/PlayerClass$5.class
/PlayerClass$6.class
/PlayerClass$7.class
/PlayerClass$8.class
/PlayerClass$9.class
/Dice.class
/PlayerClass$pClass$1.class
/PlayerClass$pClass$10.class
/PlayerClass$pClass$11.class
/PlayerClass$pClass$2.class
/PlayerClass$pClass$3.class
/PlayerClass$pClass$4.class
/PlayerClass$pClass$5.class
/PlayerClass$pClass$6.class
/PlayerClass$pClass$7.class
/PlayerClass$pClass$8.class
/PlayerClass$pClass$9.class
/PlayerClass$pClass.class
