/Armor$ArmorType$1.class
/Armor$ArmorType$2.class
/Armor$ArmorType$3.class
/Armor$ArmorType.class
/Armor.class
/Equippable.class
/GeneralItem.class
/InvTest.class
/Inventory.class
/Item.class
/Weapon$DmgType.class
/Weapon.class
